<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Thanks for banking with the Bank Project</h1>
        <p> Dear <%= @row.banker %>, </p>
        <p> Congratulations. Your recent deposit was successful.</p>
        <p> Please bank with us again real soon.</p>
        <p> Thanks again for banking and have a great day!</p>
        <p> Your friends, </p>
        <p> The Bank Project </p>
    </body>
</html>
